[submodule "lib/uranium"]
	path = lib/uranium
	url = https://github.com/nuclearide/uranium
[submodule "lib/radioactive"]
	path = lib/radioactive
	url = https://github.com/nuclearide/radioactive
[submodule "lib/reactor"]
	path = lib/reactor
	url = https://github.com/nuclearide/reactor
[submodule "lib/tsclient"]
	path = lib/tsclient
	url = https://github.com/nuclearide/tsclient
