@import "editor";
body {
    font-family: 'Fira Mono';
}

html, body, #root, #main-grid {
    height: 100%;
}

#main-grid {
    background-color: #23262F;
    color: #969DAE;
}

.panel {
    background-color: #23262F;
    border: solid 1px #1D2025;
}

.entry {
    width: 100%;
    cursor: pointer;
    padding: 4px;
    transition: all 200ms ease-in-out;
    &:hover {
        background: rgba(0, 0, 0, .5);
    }
}